h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  color: rgb(117, 117, 117);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}

.logo--accent {
  color: rgb(33, 150, 243);
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: rgb(33, 33, 33);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo--white {
  display: inline-block;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.page-header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}
.page-header__item + .page-header__item {
  margin-left: 50px;
}
.page-header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: rgb(33, 33, 33);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link:hover, .page-header__link:focus {
  color: rgb(33, 150, 243);
}
.page-header__link--current {
  color: rgb(33, 150, 243);
}
.page-header__link--current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
}
.page-header__site-nav {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 93px;
}
.page-header__auth-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
.page-header__contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgb(117, 117, 117);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__contact-link:hover, .page-header__contact-link:focus {
  color: rgb(33, 150, 243);
}
.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: rgb(47, 48, 58);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.feachers__icon {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feachers__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.feachers__item {
  width: 270px;
}
.feachers__item + .feachers__item {
  margin-left: 30px;
}
.feachers__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.feachers__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.activities {
  padding-bottom: 94px;
}
.activities__list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.activities__item + .activities__item {
  margin-left: 30px;
}
.activities__title {
  margin-bottom: 50px;
  color: rgb(33, 33, 33);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.activities__thumb {
  position: relative;
}
.activities__thumb::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.activities__text {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.command__card {
  padding: 30px 32px 30px 32px;
}
.command__list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.command__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command__item + .command__item {
  margin-left: 30px;
}
.command__title {
  color: rgb(33, 33, 33);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.command__title--main {
  margin-bottom: 50px;
  color: rgb(33, 33, 33);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.command__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}
.social-list__link, .social-list__link--filled, .social-list__link--transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link--transparent:hover, .social-list__link--transparent:focus {
  background-color: rgb(33, 150, 243);
  outline: none;
}
.social-list__link--filled {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__link--filled:hover, .social-list__link--filled:focus {
  background-color: rgb(33, 150, 243);
}
.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__icon--white {
  fill: #ffffff;
}
.social-list__link--transparent:hover .social-list__icon, .social-list__link--transparent:focus .social-list__icon {
  fill: #ffffff;
  outline: none;
}
.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.clients__title {
  margin-bottom: 50px;
  color: rgb(33, 33, 33);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients__list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
  justify-content: center;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
  border-color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}
.clients__icon {
  fill: currentColor;
}
.clients__item:not(:first-child) {
  margin-left: 30px;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(47, 48, 58);
}
.page-footer__contact-link {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__contact-link:hover, .page-footer__contact-link:focus {
  color: rgb(33, 150, 243);
}
.page-footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.page-footer__address-list {
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.page-footer__address-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__address-link:hover, .page-footer__address-link:focus {
  color: rgb(33, 150, 243);
}
.page-footer__block {
  display: flex;
  align-items: baseline;
}
.page-footer__social-block {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}
.page-footer__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.page-footer__form {
  margin-left: auto;
}
.page-footer__submit-block {
  display: flex;
  margin-top: 20px;
}
.page-footer__form-input {
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 4px;
  background-color: transparent;
}
.page-footer__form-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__form-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__form-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.page-footer__submit-btn {
  position: relative;
  padding: 10px 29px;
  text-align: left;
}
.page-footer__submit-btn::after {
  content: "";
  position: absolute;
  top: 13px;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
}
.buttons-list__item + .buttons-list__item {
  margin-left: 8px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-left: 0px;
}
.benefits-list__item {
  position: relative;
  width: 370px;
  margin: 15px;
}
.benefits-list__title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.benefits-list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.benefits-list__link {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  text-decoration: none;
  color: rgb(33, 33, 33);
}
.benefits-list__link:hover, .benefits-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.benefits-list__link::after {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.benefits-list__link:hover::after, .benefits-list__link:focus::after {
  opacity: 1;
  transform: translateY(0);
}
.benefits-list__card {
  position: relative;
  width: 100%;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  z-index: 2;
}
.benefits-list__hover-text {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(100%);
  height: 100%;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.benefits-list__link:hover .benefits-list__hover-text, .benefits-list__link:focus .benefits-list__hover-text {
  transform: translateY(0);
}

.button--secondary, .button--primary, .button {
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}
.button:hover, .button:focus {
  background-color: #118ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button--primary {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}
.button--primary:hover, .button--primary:focus {
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button--secondary {
  min-width: 103px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}
.button--secondary:hover, .button--secondary:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: rgb(33, 150, 243);
}
.modal__btn-close:hover .modal__icon, .modal__btn-close:focus .modal__icon {
  fill: rgb(33, 150, 243);
}

.form__legend {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form__label {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}
.form__input {
  position: relative;
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__input:hover, .form__input:focus {
  border-color: rgb(33, 150, 243);
  outline: none;
}
.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  pointer-events: none;
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: rgb(33, 150, 243);
}
.form__textarea-input {
  width: 100%;
  height: 120px;
  padding: 0;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea-input:hover, .form__textarea-input:focus {
  outline: none;
  border-color: rgb(33, 150, 243);
}
.form__textarea-input::-moz-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea-input:-ms-input-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea-input::placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field {
  position: relative;
  margin-top: 10px;
}
.form__button {
  margin-top: 30px;
  display: block;
}
.form__checkbox-field {
  position: relative;
  margin-top: 20px;
  padding-left: 14px;
}
.form__checkbox-icon {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 15px;
  transform: translateY(-50%);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox:checked + .form__checkbox-icon {
  border-color: rgb(33, 150, 243);
  background-color: rgb(33, 150, 243);
  background-image: url("../images/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
}
.form__checkbox-icon:hover, .form__checkbox:focus + .form__checkbox-icon {
  border-color: rgb(33, 150, 243);
}
.form__checkbox-text {
  margin-left: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form__checkbox-link {
  margin-left: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
}/*# sourceMappingURL=main.css.map */