.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-left: 0px;

  &__item {
    position: relative;
    width: 370px;
    margin: 15px;
  }

  &__title {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
  }
  // /*----------------PORTFOLIO CARDS-----------------*/
  &__link {
    display: block;
    position: relative;
    transition: box-shadow 250ms $CubicBezier;
    overflow: hidden;
    text-decoration: none;
    color: $TitleTextColor;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      transform: translateY(100%);
      width: 100%;
      height: 294px;
      background-color: rgba(33, 150, 243, 0.9);
      opacity: 0;
      transition: transform 250ms $CubicBezier, opacity 250ms $CubicBezier;
      z-index: 1;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__card {
    position: relative;
    width: 100%;
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background-color: $PrimaryBackgroundColor;
    z-index: 2;
  }

  &__hover-text {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(100%);
    height: 100%;
    padding: 63px 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $PrimaryBackgroundColor;
    transition: transform 250ms $CubicBezier, opacity 250ms $CubicBezier;
    z-index: 2;
  }
  &__link:hover &__hover-text,
  &__link:focus &__hover-text {
    transform: translateY(0);
  }
}
