.command {
  &__card {
    padding: 30px 32px 30px 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    @media screen and (min-width: $Tablet) {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: $Desktop) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $Mobile) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      .img {
        width: 100%;
      }
    }
    @media screen and (min-width: $Tablet) {
      margin: 15px;
      flex-basis: calc((100% - 4 * 15px) / 2);
      &:last-child {
        margin-bottom: 15px;
      }
    }

    @media screen and (min-width: $Desktop) {
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item + &__item {
    margin-left: 30px;

    @media screen and (min-width: $Mobile) {
      margin-left: 0;
    }

    @media screen and (min-width: $Tablet) {
      margin-left: 15px;
    }

    // @media screen and (min-width: $Desktop) {
    //   margin-left: 30px;
    // }
  }

  &__title {
    color: $TitleTextColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;

    &--main {
      margin-bottom: 50px;
      color: $TitleTextColor;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
    }
  }

  &__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $PrimaryTextColor;
  }
}
