// -------------------Feachers---------------------

.feachers {
  &__icon {
    display: flex;
    margin: 0;
    margin-bottom: 30px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    @media screen and (min-width: $Tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: $Desktop) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__item {
    @media screen and (min-width: $Tablet) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // &__item + &__item {
  //   @media screen and (min-width: 768px) {
  //     margin-left: 30px;
  //   }
  // }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $TitleTextColor;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
  }
}
