// -------------------Feachers---------------------

.feachers {
  &__icon {
    display: flex;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__item {
    width: 270px;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
  }
}
