.form {
  &__legend {
    color: $TitleTextColor;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__label {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    cursor: pointer;
  }

  &__input {
    position: relative;
    display: block;
    margin-top: 4px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms $CubicBezier;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: $AccentColor;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transition: fill 250ms $CubicBezier;
    cursor: pointer;
    pointer-events: none;
  }

  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: $AccentColor;
  }

  &__textarea-input {
    width: 100%;
    height: 120px;
    padding: 0;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    resize: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border-color 250ms $CubicBezier;

    &:hover,
    &:focus {
      outline: none;
      border-color: $AccentColor;
    }

    &::placeholder {
      position: absolute;
      top: 12px;
      left: 16px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__field {
    position: relative;
    margin-top: 10px;
  }

  &__button {
    margin-top: 30px;
    display: block;
  }

  &__checkbox-field {
    position: relative;
    margin-top: 20px;
    padding-left: 14px;
  }

  &__checkbox-icon {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 15px;
    transform: translateY(-50%);
    border: 2px solid $TitleTextColor;
    border-radius: 2px;
    margin-right: 7px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__checkbox:checked + &__checkbox-icon {
    border-color: $AccentColor;
    background-color: $AccentColor;
    background-image: url("../images/iconcheck.svg");
    background-size: contain;
    background-origin: border-box;
  }

  &__checkbox-icon:hover,
  &__checkbox:focus + &__checkbox-icon {
    border-color: $AccentColor;
  }

  &__checkbox-text {
    margin-left: 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }

  &__checkbox-link {
    margin-left: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $AccentColor;
  }
}
