// ----------------------HERO----------------------
.hero {
  background-color: $SecondaryBackgroundColor;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  &__overlay {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: $SecondaryTextColor;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
}
