.logo--accent {
  color: $AccentColor;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: $TitleTextColor;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo--white {
  display: inline-block;
  margin-bottom: 25px;
  color: $SecondaryTextColor;
  padding: 0;
}
