$PrimaryTextColor: rgba(117, 117, 117, 1);
$SecondaryTextColor: rgba(255, 255, 255, 1);
$TitleTextColor: rgba(33, 33, 33, 1);
$AccentColor: rgba(33, 150, 243, 1);
$PrimaryBackgroundColor: #ffffff;
$SecondaryBackgroundColor: rgba(47, 48, 58, 1);
$ThirdBackgroundColor: rgba(245, 244, 250, 1);
$Footerlinkcolor: rgba(255, 255, 255, 0.6);
$IconsFillColor: #afb1b8;
$CubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
$Mobile: 480px;
$Tablet: 768px;
$Desktop: 1200px;
