.mobile-menu {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  padding: 48px 40px;
  bottom: 0;
  z-index: 5;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  background-color: $PrimaryBackgroundColor;
  visibility: hidden;
  opacity: 0;
  transition: visibility 250ms $CubicBezier, opacity 250ms $CubicBezier;

  &.is-open {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__site-nav-item {
    text-align: left;

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__bottom {
    margin-bottom: 48px;
  }

  &__site-nav-link {
    color: $TitleTextColor;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms $CubicBezier;

    &:hover,
    &:focus {
      color: $AccentColor;
    }

    &--current {
      color: $AccentColor;
    }
  }

  &__auth-nav-item {
    text-align: left;

    &:not(:first-child) {
      padding-top: 32px;
    }
  }

  &__auth-nav-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $PrimaryTextColor;
    text-decoration: none;
  }

  &__auth-nav-link--accented {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    color: $AccentColor;
    letter-spacing: 0.02em;
  }

  &__socials {
    margin-top: 64px;
    display: inline-flex;

    // @media screen and (min-width: $Zero) {
    //   flex-wrap: wrap;
    // }

    @media screen and (max-width: 479px) {
      flex-wrap: wrap;
    }
  }

  &__socials-item {
    justify-content: flex-start;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__socials-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $AccentColor;
    text-decoration: none;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }

  &__socials-link-instagram {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $AccentColor;
    text-decoration: none;
  }
}
